<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<string>YES</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Taxiconnect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
  <key>NSCameraUsageDescription</key>
    <string>TaxiConnect needs access your camera in order for you to take a picture for your profile picture.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>TaxiConnect needs your location for a better experience.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>TaxiConnect needs your location for a better experience.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>TaxiConnect needs your location for a better experience.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>TaxiConnect needs access your gallery in order to change your profile picture.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>TaxiConnect needs access your gallery in order to change your profile picture.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>ClanOT-Black.ttf</string>
		<string>ClanOT-Bold.ttf</string>
		<string>ClanOT-Book.ttf</string>
		<string>ClanOT-Medium.ttf</string>
		<string>ClanOT-NarrowBlack.ttf</string>
		<string>ClanOT-NarrowBook.ttf</string>
		<string>ClanOT-NarrowMedium.ttf</string>
		<string>ClanOT-NarrowNews.ttf</string>
		<string>ClanOT-NarrowThin.ttf</string>
		<string>ClanOT-NarrowUltra.ttf</string>
		<string>ClanOT-News.ttf</string>
		<string>ClanOT-Thin.ttf</string>
		<string>ClanOT-Ultra.ttf</string>
		<string>Allrounder-Grotesk-Book.otf</string>
		<string>Allrounder-Grotesk-Medium.otf</string>
		<string>Allrounder-Grotesk-Regular.otf</string>
		<string>Allrounder-Monument-Book.otf</string>
		<string>Allrounder-Monument-Medium.otf</string>
		<string>Allrounder-Monument-Regular.otf</string>
		<string>MoveBold.otf</string>
		<string>MoveLight.ttf</string>
		<string>MoveMedium.otf</string>
		<string>MoveRegular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
</dict>
</plist>
